# VITE_REOWN_PROJECT_ID: Reown AppKit Project ID for wallet connection
VITE_REOWN_PROJECT_ID="7ee282b2996b54334564e0f64beebed1"

# VITE_COINGECKO_API_KEY: CoinGecko API Key for live price feeds
VITE_COINGECKO_API_KEY="CG-56BEXcXe4KQcmeRsFyjUmjd2"

# VITE_ALCHEMY_API_KEY: Alchemy API Key for RPC and specific data
VITE_ALCHEMY_API_KEY=""
